<div class="grid-container">
  <h2  class="mat-h1">Dashboard</h2>
  <mat-grid-list cols="4" rowHeight="250px">
    <mat-grid-tile
        *ngFor="let boba of boba"
        [colspan]="boba.cols"
        [rowspan]="boba.rows">
      <img src = "assets/boba/{{boba.name}}.jpg"/> 

    <mat-grid-tile-footer>
      <h3 mat-line>{{boba.name}}</h3>
      <span mat-line>{{boba.states}}</span>
      <button mat-icon-button aria-label="info icon">
          <mat-icon>info</mat-icon>
        </button>
    </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>
